<%= form_for @backlog_entry, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Backlog Entry</legend>

    <div class="control-group<%= " error" if @backlog_entry.errors.include?(:title) %>">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
        <% if @backlog_entry.errors.include?(:title) %>
            <span class="help-inline"><%= @backlog_entry.errors[:title].join(", ") %></span>
        <% end %>
      </div>
    </div>

    <div class="control-group<%= " error" if @backlog_entry.errors.include?(:category) %>">
      <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :category, :class => 'text_field' %>
        <% if @backlog_entry.errors.include?(:category) %>
            <span class="help-inline"><%= @backlog_entry.errors[:category].join(", ") %></span>
        <% end %>
      </div>
    </div>

    <div class="control-group<%= " error" if @backlog_entry.errors.include?(:description) %>">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area' %>
        <% if @backlog_entry.errors.include?(:description) %>
            <span class="help-inline"><%= @backlog_entry.errors[:description].join(", ") %></span>
        <% end %>
      </div>
    </div>

    <div class="control-group<%= " error" if @backlog_entry.errors.include?(:size) %>">
      <%= f.label :size, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :size, :class => 'text_field' %>
        <% if @backlog_entry.errors.include?(:size) %>
            <span class="help-inline"><%= @backlog_entry.errors[:size].join(", ") %></span>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', backlog_entries_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
