<li id="waterline" data-update-url="<%= capacity_project_url %>" style="display: none;">
    <div class="row">
        <div class="span8">
            <div class="well">
                <span class="btn-group" style="float: right">
                    <%= link_to "#", id: "tag_entries_above", class: "btn btn-mini disabled" do %>
                            <i class="icon-chevron-up" ></i><i class="icon-tag" ></i>
                    <% end %>
                    <%= link_to backlog_entries_path(format: 'pdf', cards: true, limit: ''), id: "print_cards_above", class: "btn btn-mini" do %>
                            <i class="icon-chevron-up" ></i><i class="icon-th-large" ></i>
                    <% end %>
                    <%= link_to backlog_entries_path(format: 'pdf', limit: ''), id: "print_list_above", class: "btn btn-mini" do %>
                            <i class="icon-chevron-up" ></i><i class="icon-print" ></i>
                    <% end %>
                </span>
                                                    
                <div class="input-prepend" style="display: inline-block">
                    <span class="control-group">
                        <label id="sum_above_line" class="add-on">(--)</label><%= text_field_tag :capacity, @capacity %>
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</li>
