<h1>Backlog Entry</h1>

<p>
  <b>Title</b><br>
  <%= @backlog_entry.title %>
</p>

<p>
  <b>Description</b><br>
  <%= @backlog_entry.description %>
</p>

<p>
  <b>Category</b><br>
  <%= @backlog_entry.category %>
</p>

<p>
  <b>Size</b><br>
  <%= @backlog_entry.size %>
</p>

<div class="form-actions">
  <%= link_to 'Back', backlog_entries_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_backlog_entry_path(@backlog_entry), :class => 'btn' %>
  <%= link_to 'Delete', backlog_entry_path(@backlog_entry), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
